<script id="tmpl-EaseljsClusterChart" type="text/html">
	<div class="EaseljsClusterChart">
		<canvas id="EaseljsClusterCanvas" width="800" height="800"></canvas>
	</div>
</script>

<script id="tmpl-popover-right" type="text/html">
<div class="popover fade right in" style="top: {{top}}px; left: {{left}}px; display: block;">
	<div class="arrow"></div>
	<h3 class="popover-title">Name:{{name}}</h3>
	<div class="popover-content">Friends Number:{{num}}</div>
</div>
</script>


