<script id="tmpl-EaselJSTweenClusterChart" type="text/html">
	<div class="EaselJSTweenClusterChart">
		<div class="canvas-container">
			<canvas></canvas>
		</div>
		<div class="contact-info"></div>
	</div>
</script>

<script id="tmpl-popover-right" type="text/html">
<div class="popover fade right in" style="top: {{top}}px; left: {{left}}px; display: block;">
	<div class="arrow"></div>
	<h3 class="popover-title">Name:{{name}}</h3>
	<div class="popover-content">Friends Number:{{num}}</div>
</div>
</script>


