<script id="tmpl-MainScreen" type="text/html">
    <div class="MainScreen">
	    <div class="MainScreen-header">
			<div class="navbar navbar-inverse" style="position: static;">
	        	<div class="navbar-inner">
	            	<div class="container">
	                  	<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
	                    	<span class="icon-bar"></span>
	                    	<span class="icon-bar"></span>
	                    	<span class="icon-bar"></span>
	                  	</a>
	                  	<a class="brand" href="#">D3JS Vs EaselJS Demo</a>
	                  	<div class="nav-collapse collapse navbar-inverse-collapse">
	                    	<ul class="nav">
	                      		<li class="dropdown">
		                       		<a href="#" class="dropdown-toggle dropDownTitle" data-toggle="dropdown">D3JS Demo <b class="caret"></b></a>
		                        	<ul class="dropdown-menu">
									    <li data-nav="D3JS" class="nav-menu menu"><a href="#">D3JS Demo</a></li>
									    <li data-nav="EaselJS" class="nav-menu menu"><a href="#">EaselJS Demo </a></li>
		                        	</ul>
	                      		</li>
	                      		
							    <li data-nav="D3ForceChart" class="D3JS menu"><a href="#">ForceChart</a></li>
							    <li data-nav="D3ForceClusterChart" class="D3JS menu"><a href="#">ForceClusterChart</a></li>
                  				<li data-nav="ContactCluster" class="D3JS menu"><a href="#">D3ContactCluster</a></li>
							    
					    		<li data-nav="EaseljsClusterChart" class="EaselJS menu"><a href="#">EaelJSCluster</a></li>
							    <li data-nav="EaselJSTweenClusterChart" class="EaselJS menu"><a href="#">TweenContactCluster</a></li>
                  				<li data-nav="ZoomCluster" class="EaselJS menu active"><a href="#">EaselJS Zoom-Slider</a></li>
                  				<li data-nav="EaselJSForceClusterSlider2" class="EaselJS menu"><a href="#">EaselJS Slider2</a></li>
					    		
	                    	</ul>
	                  	</div><!-- /.nav-collapse -->
	                </div>
	            </div><!-- /navbar-inner -->
	        </div><!-- /navbar -->
	         
	        <div class="ControlBar">
				<div class="control-item">
					<label>Level(<span class="slider-level-value">1</span>):</label>
					<div class="toolbar-item-content slider level"></div>
				</div>
				<div class="control-item">
					<label>Zoom(<span class="slider-zoom-value">0.8</span>):</label> 
					<div class="toolbar-item-content slider zoom"></div>
				</div>
				<div class="control-item">
					<label>Use RAF:</label> 
					<div class="toolbar-item-content raf"><input type="checkbox" class="raf-value"/></div>
				</div>
				<div class="control-item width170">
					<label>Animation Speed:</label> 
					<div class="toolbar-item-content speed"><span class="speed-value">500</span></div>
				</div>
				<div class="control-item">
					<div class="toolbar-item-content new-data"><button class="btn btn-small new-data-btn" type="button">New Data</button></div>
				</div>
		   </div>
	         
	    </div>
	    
	    <div class="MainScreen-main"></div>
    </div>
</script>