<script id="tmpl-ZoomCluster" type="text/html">
	<div class="ZoomCluster">
		<div class="ControlBar">
			<div class="control-item">
				<label>Level(<span class="slider-level-value">1</span>):</label>
				<div class="toolbar-item-content slider level"></div>
			</div>
			<div class="control-item">
				<label>Zoom(<span class="slider-zoom-value">1.0</span>):</label> 
				<div class="toolbar-item-content slider zoom"></div>
			</div>
			<div class="control-item">
				<label>Use RAF:</label> 
				<div class="toolbar-item-content raf"><input type="checkbox" class="raf-value"/></div>
			</div>
			<div class="control-item">
				<label>Animation Speed:</label> 
				<div class="toolbar-item-content speed"><span class="speed-value">500</span></div>
			</div>
		</div>
		<div class="canvas-container">
			<canvas></canvas>
		</div>
		<div class="contact-info"></div>
	</div>
</script>


