<script id="tmpl-ZoomCluster" type="text/html">
	<div class="ZoomCluster">
		<canvas width="800" height="800"></canvas>
		<div class="contact-info"></div>
		<div class="slider-container">
			<label>Level: <span class="level-value">2</span></label>
			<div class="toolbar-item-content level">
				<input type="text" class="span2" data-slider-min="1" data-slider-max="4" data-slider-value="2" data-slider-step="1" value="" />
			</div>
		</div>
		<div class="slider-container">
			<label>Zoom: <span class="zoom-value">10</span></label> 
			<div class="toolbar-item-content zoom">
				<input type="text" class="span2" data-slider-min="1" data-slider-max="15" data-slider-value="10" data-slider-step="1" value="" />
			</div>
		</div>
	</div>
</script>


