<script id="tmpl-ZoomCluster" type="text/html">
	<div class="ZoomCluster">
		<canvas width="800" height="800"></canvas>
		<div class="contact-info"></div>
		<div class="slider-container">
		    <div class="slider zoomSlider"></div>
			<label style="color:#777">Zoom:<span class="zoom-value">1</span></label>
		</div>
		<div class="slider-container">
		    <div class="slider levelSlider"></div>
			<label style="color:#777">Level:<span class="level-value">3</span></label>
		</div>
	</div>
</script>


